{%extends'base.html'%}
{%block content%}
<form  method="POST">
    <div class="main">
        <p class="sign" align="center">To Do List</p>
        <form class="form1">
            <input class="pass"  type="text" align="center" placeholder="موصوع" name="subject" required value="{{data.subject}}">
            <input class="pass"  type="time" align="center" placeholder="ساعت" name="time" required value="{{data.time}}">
            <input class="pass" align="center" placeholder="تاریخ" name="date" required type="text" value="{{data.date}}" onclick="Mh1PersianDatePicker.Show(this,'1401/01/01',window.holidays)"  />
            <input class="pass erya"  type="text" align="center" value="{{d.details}}" name="details" >
            <center>
                <input  type="submit" class="btn btn-dark" role="button"  value="اضافه کردن">
                <a href="/" type="button" class="btn btn-danger">بازگشت</a>
            </center>
        </form>
    </div>
</form>
<script src="/static/edit_script.js" ></script>
{%endblock%}