{%extends 'base.html'%}
{%block content%}

<form action="/register" method="POST" enctype="multipart/form-data">
  <div class="main">
    <p class="sign" align="center">Register</p>
    <form class="form1" action="signup" method="post" enctype="multipart/form-data">
      <input type="file" align="center" name="file">
      <input class="un " type="text" align="center" placeholder="نام" name="username" required>
      <input class="pass" type="password" align="center" placeholder="رمز" name="password" required>
      <input class="pass" type="password" align="center" placeholder="تکرار رمز" name="re_password" required>
      <center>
        <input class="btn btn-dark" value="عضویت" type="submit">
        <a class="btn btn-dark"  href="/login"> ورود</a>
      </center>
    </form>
  </div>
</form>
{%endblock%}
